:root{
    --blue: #304064;
    --white: #ffffff;
    --light-blue: #1477b2;
    --light-gray: #eeeeee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    width: 100%;
}

body{
    font-family: sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    
    background-color: var(--white);
    color: var(--blue);
}
h4{
    font-family: 'Oswald', sans-serif;
}
header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 0rem 1rem;
}
.header-logo{
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}
.header-nav{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}
.menu-header{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
}
.menu-header li {
    padding: 1rem;
    cursor: pointer;
}
.right-menu-header .icons{
    width: 25px;
}
main{
    padding: 0rem 1rem;
    display: grid;
    gap: 1.5rem;
}
.product-list{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px,1fr));
    list-style: none;
    gap: 2rem;
}
.product-item{
    display: grid;
    gap: 0.2rem;
    position: relative;
}
.product-item__new{
    background-color: var(--light-blue);
    position: absolute;
    top: -1.3rem;
    right: 0;
    color: var(--white);
    font-size: 0.8rem;
    padding: 0.2rem;
}
.product-item__price{
    display: grid;
    gap: 0.5rem;
    color: var(--blue);
    grid-auto-flow: column;
    justify-content: start;
}
.product-item__full-price.discounted-price{
    color: gray;
    text-decoration: line-through;
    font-weight: normal;
}
.product-item__discounted-price{
    color: red;
}
footer{
    display: grid;
    background-color: var(--light-gray);
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
    padding: 0rem 1rem;
}
.footer h5{
    
    display: grid;
    justify-self: end;
}